@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

:root {
	--Bright-orange: hsl(31, 77%, 52%);
	--Dark-cyan: hsl(184, 100%, 22%);
	--Very-dark-cyan: hsl(179, 100%, 13%);
	--paragraphs: hsla(0, 0%, 100%, 0.75);
	--background-headings-buttons: hsl(0, 0%, 95%);
}

body {
	background: var(--background-headings-buttons);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	padding: 5em 2em;
	font-size: 15px;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card {
	max-width: 100%;
	height: 100%;
}

.card img {
	margin-top: 3em;
	margin-left: 3em;
}

.one {
	background: var(--Bright-orange);
	border-radius: 0.8em 0.8em 0 0;
}

.two {
	background: var(--Dark-cyan);
}

.three {
	background: var(--Very-dark-cyan);
	border-radius: 0 0 0.8em 0.8em;
}

h1 {
	font-family: "Big Shoulders Display", cursive;
	font-weight: 700;
	font-size: 2.8em;
	color: var(--background-headings-buttons);
	text-transform: uppercase;
	margin-left: 1em;
}

p {
	font-family: "Lexend Deca", sans-serif;
	font-weight: 400;
	color: hsla(0, 0%, 100%, 0.75);
	padding-left: 3em;
	padding-right: 3em;
	line-height: 1.6em;
}

.btn {
	padding: 1em 2em;
	border-radius: 2em;
	border: none;
	margin: 4em 0 3em 3em;
	font-size: 15px;
	font-family: "Lexend Deca", sans-serif;
	font-weight: 400;
	background: var(--background-headings-buttons);
	transition: 0.3s ease-in-out;
}
.btn-first {
	color: var(--Bright-orange);
}

.btn-second {
	color: var(--Dark-cyan);
}

.btn-third {
	color: var(--Very-dark-cyan);
}

.attribution {
	font-family: "Lexend Deca", sans-serif;
	font-weight: 400;
	font-size: 10px;
	text-align: center;
	margin-top: 1em;
}
.attribution a {
	color: var(--Very-dark-cyan);
}

@media (min-width: 768px) {
	main {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		max-width: 900px;
		margin: 0 auto;
		margin-top: 3em;
	}

	.one {
		border-radius: 0.8em 0 0 0.8em;
	}

	.three {
		border-radius: 0 0.8em 0.8em 0;
	}

	.btn:hover {
		cursor: pointer;
	}

	.btn-first:hover {
		background: var(--Bright-orange);
		border: 2px solid;
		color: var(--background-headings-buttons);
	}

    .btn-second:hover {
		background: var(--Dark-cyan);
		border: 2px solid;
		color: var(--background-headings-buttons);
	}

    .btn-third:hover {
		background: var(--Very-dark-cyan);
		border: 2px solid;
		color: var(--background-headings-buttons);
	}
}
